.configurator {
    padding: 0 40px;
}

.configurator * {
  margin: 4px;
}

.configurator input:invalid {
  border: red 1px solid;
}

.configurator input[type="text"], .configurator input[type="number"] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 7px;
}

.configurator button {
    padding: 7px 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.configurator__general-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}